:root {
    /* dimensions */
    --bodyPadding: 56px;
    --navBarWidth: 260px;
    --contentContainerWidth: calc(100vw - 3 * var(--bodyPadding) - var(--navBarWidth));
    --contentContainerHeight: calc(100vh - 2 * var(--bodyPadding));
    --cardHeight: calc(var(--contentContainerHeight) / 2 - 4px);
    --cardBorderRadius: 4px;
    /* --photoWidth: calc() */
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}
::-webkit-scrollbar-thumb:active {
    background: #606060;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: var(--bodyPadding);
    background: var(--bodyBG);   
}

#navBar {
    width: var(--navBarWidth);
    height: calc(100vh - 2 * var(--bodyPadding));
    position: relative;
}

#contentContainer {
    width: var(--contentContainerWidth);
    height: calc(var(--contentContainerHeight) + 8px);
    position: fixed;
    top: var(--bodyPadding);
    right: var(--bodyPadding);
    /* background: var(--cardBG); */
    border-bottom: 8px solid var(--bodyBG);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#relativeContainer {
    width: 100%;
    height: 100%;
    position: relative;
    /* background: #603843; */
}

.flexContainer {
    /* width: var(--contentContainerWidth); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    position: absolute;
    right: 0px;
}

.flexContainerFormat

#justificationContainer {
    position: relative;
    /* right: - calc() */
}

.card {
    width: calc(var(--cardHeight) / 3 * 2);
    height: var(--cardHeight); 
    margin: 0px 0px 8px 8px;
    padding: 0;
    display: inline-block;
    border-radius: var(--cardBorderRadius);
    background: var(--cardBG);
    scroll-snap-align: end;
}