@media (max-height: 500px), (max-width: 850px), (min-height: 700px) and (max-aspect-ratio: 850/700) {

    :root {
        --bodyPadding: 48px;    /* 56px */
    }

    footer {
        margin-top: 24px;
        margin-bottom: 24px;
        display: block; /* inline */
    }
    #footerDetailList {
        position: static;
    }

    #navBar {
        width: calc(100vw - 2 * var(--bodyPadding));    /* var(--navBarWidth) */
        height: auto;
        position: static;
    }
    #navLinkList {
        margin-top: 16px;   /* 32px */
    }
    #navLinkList > li {
        margin-right: 16px; /* 0px */
        margin-bottom: 8px; /* 12px */
        display: inline-block;
        white-space: nowrap;
    }

    #downBtn {
        display: none;
    }

    #helpModal {
        width: calc(100vw - 3 * var(--bodyPadding) - 16px);    /* 300px */
    }

    body {
        overflow: scroll;   /* hidden */
    }
    #contentContainer {
        width: calc(100vw - 2 * var(--bodyPadding));
        height: auto;
        position: static;
        top: auto;
        right: auto;
        overflow-y: hidden;
        scroll-snap-type: none;

        background: red;

    }
}




@media (max-width: 350px) {

    :root {
        --bodyPadding: 32px;    /* 56px */
        --footerDetailTextSize: 8pt;    /* 10pt */
        --footerDetailIconSize: 16px    /* 18px */
    }
}




@media (max-width: 319px) {

    body {
        filter: blur(12px);
        transition: filter 0.5s;
    }
}