@media (max-height: 500px), (max-width: 850px), (min-height: 700px) and (max-aspect-ratio: 850/700) {
    body {
        /* background: #ffaaaa; */
    }


    :root {
        --bodyPadding: 48px;
    }


    footer {
        position: relative;
    }
    #footerDetailList {
        bottom: auto;
        top: 32px;
    }



    #navBar {
        width: calc(100vw - 2 * var(--bodyPadding));
    }
    #navLinkList {
        margin-top: 16px;
    }
    #navLinkList > li {
        margin-right: 16px;
        margin-bottom: 8px;
        display: inline-block;
        white-space: nowrap;
    }


    /* hide/show */
    #downBtn {
        display: none;
    }
}




@media (max-width: 350px) {
    /* body {
        background: #aaffaa;
    } */


    :root {
        --bodyPadding: 32px;
        --footerDetailTextSize: 8pt;
        --footerDetailIconSize: 16px
    }
}




@media (max-width: 319px) {
    body {
        filter: blur(12px);
        transition: filter 0.5s;
    }
}