@font-face {
    font-family: Glamour Luxury Regular;
    src: url(../fonts/glamourluxury-Regular.ttf);
}

@font-face {
    font-family: Glamour Luxury Round;
    src: url(../fonts/glamourluxury-Round.ttf);
}

@font-face {
    font-family: Inter Light;
    src: url(../fonts/Inter-Light.ttf);
}

@font-face {
    font-family: Inter Medium;
    src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter Bold;
    src: url(../fonts/Inter-Bold.ttf);
}


:root {
    /* BG colors */
    --bodyBG: #fafafa;
    --cardBG: #f0f0f0;
    --modalBG: #ffffff;

    /* text colors */
    --heavyTextColor: #303030;
    --mediumTextColor: #c0c0c0;
    --cardLightTextColor: #606060;   

    /* text sizes */
    --titleTextSize: 36pt;
    --navLinkTextSize: 14pt;
    --footerDetailTextSize: 10pt;

    /* icon sizes */
    --footerDetailIconSize: 18px;

    /* misc */
    
}

::selection {
    background: var(--cardLightTextColor);
    color: var(--bodyBG);
}

* {
    user-select: none;
}




#titleText {
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    font-family: 'Glamour Luxury Round';
    font-weight: normal;
    font-size: var(--titleTextSize);
    color: var(--heavyTextColor);
}

#navBar {
    background: var(--bodyBG);
}

#navLinkList {
    margin: 32px 0px 0px 0px;
    padding: 0;
    list-style: none;
    font-family: 'Inter Light';
    font-weight: lighter;
    font-size: var(--navLinkTextSize);
}

#navLinkList > li {
    margin: 0px 0px 12px 0px;
}

.navLink {
    color: var(--heavyTextColor);
    text-decoration: none;
}

#footerDetailList {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    list-style: none;
}

#footerDetailList > li {
    margin: 0px 0px 8px 0px;
    position: relative;
}

.footerDetail {
    margin: 0;
    padding: 0;
    display: ineline;
    font-family: 'Inter Medium';
    font-size: var(--footerDetailTextSize);
    color: var(--mediumTextColor);
    text-decoration: none;
    font-weight: normal;
}

.footerDetail.hasIcon {
    margin: 0px 0px 0px calc(var(--footerDetailIconSize) + 8px) !important;
    user-select: text;
}

.footerIcon {
    width: var(--footerDetailIconSize);
    height: var(--footerDetailIconSize);
    position: absolute;
    bottom: -1px;
}

.footerIcon > img {
    width: var(--footerDetailIconSize);
    display: inline;
    -webkit-user-drag: none;
}