@font-face {
    font-family: Glamour Luxury Regular;
    src: url(/fonts/glamourluxury-Regular.ttf);
}

@font-face {
    font-family: Glamour Luxury Round;
    src: url(/fonts/glamourluxury-Round.ttf);
}

@font-face {
    font-family: Inter Light;
    src: url(/fonts/Inter-Light.ttf);
}

@font-face {
    font-family: Inter Medium;
    src: url(/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter Bold;
    src: url(/fonts/Inter-Bold.ttf);
}


:root {
    /* BG colors */
    --bodyBG: #fafafa;
    --cardBG: #eaeaea;
    --modalBG: #ffffff;

    /* text colors */
    --heavyTextColor: #303030;
    --mediumTextColor: #bababa;
    --cardLightTextColor: #606060;   

    /* text sizes */
    --titleTextSize: 36pt;
    --navLinkTextSize: 14pt;
    --footerDetailTextSize: 10pt;

    /* icon sizes */
    --footerDetailIconSize: 18px;

    /* misc */
    
}

::selection {
    background: var(--cardLightTextColor);
    color: var(--bodyBG);
}

* {
    user-select: none;
}

s {
    color: var(--mediumTextColor);
}




#titleText {
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    font-family: 'Glamour Luxury Round';
    font-weight: normal;
    font-size: var(--titleTextSize);
    color: var(--heavyTextColor);
}

#titleText:hover {
    cursor: pointer;
}

#navBar {
    background: var(--bodyBG);
}

#navLinkList {
    margin: 32px 0px 0px 0px;
    padding: 0;
    position: relative;
    list-style: none;
    font-family: 'Inter Light';
    font-weight: lighter;
    font-size: var(--navLinkTextSize);
    z-index: 2;
}

#navLinkList > li {
    margin: 0px 0px 12px 0px;
}

.navLink {
    color: var(--heavyTextColor);
    text-decoration: none;
}

#footerDetailList {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    list-style: none;
}

#footerDetailList > li {
    margin: 0px 0px 8px 0px;
    position: relative;
}

.footerDetail {
    margin: 0;
    padding: 0;
    display: ineline;
    font-family: 'Inter Medium';
    font-size: var(--footerDetailTextSize);
    color: var(--mediumTextColor);
    text-decoration: none;
    font-weight: normal;
}

.footerDetail.hasIcon {
    margin: 0px 0px 0px calc(var(--footerDetailIconSize) + 8px) !important;
    user-select: text;
}

.footerIcon {
    width: var(--footerDetailIconSize);
    height: var(--footerDetailIconSize);
    position: absolute;
    bottom: -1px;
}

.footerIcon > img {
    width: var(--footerDetailIconSize);
    display: inline;
    -webkit-user-drag: none;
}

.contentHeading {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Inter Bold';
    font-size: 14pt;
    font-weight: initial;
    color: var(--heavyTextColor);
}

.contentParagraph {
    margin-bottom: 36px;
    font-family: 'Inter Light';
    font-size: 12pt;
    font-weight: initial;
    color: var(--heavyTextColor);
}

.pricingCardHeading {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Glamour Luxury Regular';
    font-weight: initial;
    font-size: 28pt;
}

.pricingCardPrice {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Glamour Luxury Regular';
    font-weight: initial;
    font-size: 28pt;
}

.pricingCardFooter {
    width: 100%;
    margin: 0;
    padding: 0px 36px 0px 36px;
    text-align: center;
    font-family: 'Glamour Luxury Regular';
    font-weight: initial;
    font-size: 18pt;
}

.pricingCardBanner {
    width: 100%;
    margin: 0px 0px 24px 0px;
    padding: 4px 8px 4px 8px;
    text-align: center;
    font-family: 'Inter Bold';
    font-weight: initial;
    font-size: 10pt;
    background: var(--heavyTextColor);
    color: var(--cardBG);
}

.pricingItemList {
    margin: 0px 0px 24px 0px;
    padding: 0;
    list-style: none;
    /* list-style-position: inside; */
    text-align: left;
}

.pricingItemList > li {
    /* margin: 0px 0px 8px 0px; */
    margin: 0px 0px 8px var(--pricingItemListMargin);
}

.pricingItemList > li > p {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: 'Inter Light';
    font-weight: initial;
    font-size: 12pt;
    color: var(--cardLightTextColor);
}

#helpModal {
    background: #ffffff;
    font-family: 'Inter Light';
    font-weight: normal;
    font-size: 14pt;
    line-height: 150%;
    color: var(--heavyTextColor);
}

#helpModalCloseBtn {
    width: 18px;
    height: 18px;
    top: 8px;
    right: 8px;
    position: absolute;
}

#helpModalCloseBtn:hover {
    cursor: pointer;
}